@{
    ViewBag.Title = "Home Page";
}
    <body>
        <div class="bg">
        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <p>
                    <div class="thumbnail">
                        <img src="~/Content/Assets/Agnes.jpg" alt="Agnes" style="width:100%">
                    </div>
                    <div class="thumbnail">
                        <img src="~/Content/Assets/Ester.jpg" alt="Ester" style="width:100%">
                    </div>
                    <div class="thumbnail">
                        <img src="~/Content/Assets/Howard.jpg" alt="Howard" style="width:100%">
                    </div>
                </p>
            </div>

            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <p>
                    <div class="thumbnail">
                        <img src="~/Content/Assets/Blanch.jpg" alt="Blanch" style="width:100%">
                    </div>
                    <div class="thumbnail">
                        <img src="~/Content/Assets/Eugene.jpg" alt="Eugene" style="width:100%">
                    </div>
                    <div class="thumbnail">
                        <img src="~/Content/Assets/Pearl.jpg" alt="Pearl" style="width:100%">
                    </div>
                </p>
            </div>

            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <p>
                    <div class="thumbnail">
                        <img src="~/Content/Assets/Edgar.jpg" alt="Puppy" style="width:100%">
                    </div>
                    <div class="thumbnail">
                        <img src="~/Content/Assets/Hazel.jpg" alt="Puppy" style="width:100%">
                    </div>
                    <div class="thumbnail">
                        <img src="~/Content/Assets/Stanley.jpg" alt="Puppy" style="width:100%">
                    </div>
                </p>
            </div>

        </div>
   </div>
</body>
