.jumbotron {
    text-align: center;
    background-color: azure;
    margin-top: 25px;
    font-family: 'Great Vibes', cursive;
    border: groove 10px;
    border-color: cadetblue;
}
.thumbnail > img {
    border-radius: 20px;
}
.navbar {
    background-color: azure;
    border-bottom: groove 5px;
    border-top: groove 5px;
    border-color: cadetblue;
}

.navbar-inverse .navbar-brand {
    color: black;
    font-family: 'Courgette', cursive;
}
.navbar-inverse .navbar-brand:hover {
    color: blue;
}
.navbar-inverse .navbar-nav > li > a {
    color: black;
    font-family: 'Courgette', cursive;
}
.navbar-inverse .navbar-nav > li > a:hover {
    color: blue;
}
.carousel-inner {
    height: 450px;
    width: 100%;
    background-color: black;
    border-radius: 25px;
}
    .carousel-inner > .item > img {
        height: 450px;
        width: 50%;
        margin: 0 auto;
    }
    .footerContainer {
        color: black;
    }
.dataContainer {
    background-color:azure;
}
body {
    background-image: url("Assets/indexBackground.jpg");
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 20px;
    height: 100%;
    background-color: cornflowerblue;
}
.navbar-toggle {
    background-color:cadetblue;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
